@import './mixins';
@import './variables';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// .burger{
//     height: 37px;
//     width: 44px;
//     background-color: #000;
//     z-index: 1;
//     &-menu{
//         position: relative;
//     }
//     &-menu::before,
//     &-menu::after{
//         content: '';
//         position: absolute;
//         color: #fff;
//         width: 17px;
//         height: 2px;
//         z-index: 5;
        
//     }
// }
// .burger-menu::after,
// .burger-menu::before{
//     content: '';
//     color: #fff;
//     width: 17px;
//     height: 2px;
// }

.burger{
    display: flex;
    display: none;
    justify-content: flex-end;
    &-menu-btn{
        overflow: hidden;
        width: 44px;
        height: 37px;
        background-color: #000;
        position: relative;
        z-index: 2;
        span{
            width: 17px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            transition: all 0.5s;   
        }
    }
    &-menu-btn span:nth-child(2){
        top: calc(50% - 5px);
    }
    &-menu-btn span:nth-child(3){
        top: calc(50% + 5px);
    }
    &-menu{
        background-color: #F5F5F5;
        transform: translateY(-130%);
        width: 182px;
        height: 208px;
        font-family: Roboto;
        font-size: 11px;
        color: $dark-grey;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        ul{
            display: flex;
            flex-direction: column;
            margin-top: 4px;
            padding-left: 12px;
            li{
                margin-left: 8px;
            }
        }
    }
}


@media (max-width: 600px) {
    .burger{
        display: block;
    }
    .header-nav > ul{
        margin-top: 0px;
        visibility: hidden;
    }
    .burger-menu-btn{
        position: absolute;
        top: 23px;
        right: 44px;
    }
    .burger-menu{
        position: absolute;
        top: 60px;
        right: 0;
    }
}

@media (max-width: 360px){
    .header-nav > ul{
        margin: 10px;
        visibility: hidden;
    }
}
.burger-menu-btn.active span:nth-of-type(1) {
    display: none;
}


.burger-menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}
.burger-menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

.burger-menu.active{
    transform: translateY(0);
}