@import "./mixins";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


footer{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 57px 0;
    .footer-container{
        margin: 0 35px;
        h2{
            @include boldRoboto;
            text-transform: uppercase;
            line-height: 22px;
            font-size: 16px;
            margin-bottom: 22px;
        }
        &-desc{
            @include main-fons;
            margin-bottom: 37px;
        }
        &-contact-info{
            color: #B9B9B9;
            margin-top: 34px;
        }
    }
    @media(max-width: 450px){
        .footer-container{
            margin: 0 35px;
            h2{
                font-size: 14px;
            }
            &-desc{
                font-size: 12px;
            }
        }
    }
}
