@import './mixins';
@import './variables';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.header-nav{
    max-width: 83%;
    margin: 0 auto;
    // position: relative;
    ul{
        margin: 45px 0 51px 0;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: $dark-grey;
        }
        a:hover{
            color: #57A4A4;
        }
    }
    .nav-item{
        @include main-fons;
        font-size: 11px;
        text-transform: uppercase;
    }
}
