@import "./mixins";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.instagram-shots {
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: 40px;
  padding-bottom: 40px;
  .wrapper{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      overflow: hidden;
  }
  .instagram-shots__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  img{
    max-width: 100%;
  }
  h1 {
    margin-top: 47px;
  }
  @media(max-width:768px){
    .wrapper .instagram-shots__img:nth-child(4){
      display: none;
    }
 }
  @media (max-width: 550px){
    .instagram-shots__titles--hide{
        display: none;
      }
      .shot-img--hide{
          display: none;
      }
    }
}
