@import "./mixins";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.posts {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 25px;
  grid-row-gap: 32px;

  &__item {
    display: flex;
    gap: 20px;
    box-sizing: border-box;

    &-img {
      width: 160px;
      height: 140px;
    }

    &__text {
      @include main-fons;
    }

    &-title {
      @include boldRoboto;
      font-size: 16px;
      color: $dark-grey;
      line-height: 30px;
    }
    &-subtitle {
      color: #7c7c7c;
      font-size: 12px;
      line-height: 20px;
    }
    &-description {
      @include main-fons;
      font-size: 14px;
      color: #5c5c5c;
    }
  }
}
@media (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(1, 95%);
  }
}

@media(max-width:450px){
   .posts__item{
    flex-direction: column;
    &-description{
        display: none;
    }
   }
}