@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./header-nav";
@import './burger';
@import './mixins';
@import './variables';
@import './reset';
@import './grid-posts';
@import './_instagram-shots';
@import './footer';

body {
    @include main-fons;

}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 24px;
    color: $dark-grey;

}

.img-ruts{
    background: url(../img/intro-img\ 1.png) no-repeat center / cover;
    height: 50vh;
    margin-bottom: 66px;
    @media (max-width: 450px){
        max-height: 20.5vh;
    }
}

